{% extends 'base.html.twig' %}

{% block title %}Landing Page{% endblock %}

{% block body %}
<div class="container my-5">
    <!-- Section: Présentation de Twig Component -->
    <section id="twig-component" class="mb-5 text-center">
        <h2 class="display-3 fw-bold mb-4 text-primary">Twig Component</h2>
        <p class="lead text-secondary">Explorez les composants Twig pour une intégration rapide et efficace d'éléments UI réutilisables.</p>
        <hr class="my-4">
        <div class="d-flex justify-content-center">
            <twig:DocsLink
                title="Community"
                text="Feedback · ideas · contributions."
                url="{{ "https://symfony.com/doc/current/ux.html" }}"
            />
        </div>
    </section>
    <!-- Section: Présentation de l'input autocomplété -->
    <section id="autocomplete-input" class="text-center">
        <h2 class="display-3 fw-bold mb-4 text-warning">Autocomplete Input</h2>
        <p class="lead text-secondary">Découvrez l'autocomplétion en temps réel pour une saisie plus rapide et précise.</p>
        <hr class="my-4">
        <div class="container w-50">
            {% for message in app.flashes('autocomplete_success') %}
                <div class="alert alert-success" data-turbo-cache="false">{{ message }}</div>
            {% endfor %}
            {{ form_start(form) }}
                {{ form_row(form.animals) }}

                {{ form_row(form.name) }}

                <button type="submit" class="btn btn-primary">Let's Nom!</button>
            {{ form_end(form) }}
        </div>
    </section>
    <!-- Section: Présentation de Live Component -->
    <section id="live-component" class="text-center">
        <h2 class="display-3 fw-bold mb-4 text-success">Interactive Live Components</h2>
        <p class="lead text-secondary">Découvrez les composants dynamiques de Symfony UX pour des interactions en temps réel, sans rechargement de page.</p>
        <hr class="my-4">
        <div class="container w-75 mb-5">
            <twig:AnimalGrid class="shadow-lg p-3 bg-light rounded" />
        </div>
    </section>
</div>
{% endblock %}
